services:
  # Router to recreate original PEN Lab VM routing
  nginx:
    image: nginx:alpine
    ports:
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - dvwa
      - bwa
    restart: unless-stopped

  # Juice Shop
  juice-shop:
    image: bkimminich/juice-shop
    ports:
      - 3000:3000
    restart: unless-stopped

  # Damn Vulnerable Web App
  dvwa:
    image: ghcr.io/digininja/dvwa:latest
    environment:
      - DB_SERVER=dvwa-db
    depends_on:
      - dvwa-db
    restart: unless-stopped

  dvwa-db:
    image: mariadb:10
    environment:
      - MYSQL_ROOT_PASSWORD=dvwa
      - MYSQL_DATABASE=dvwa
      - MYSQL_USER=dvwa
      - MYSQL_PASSWORD=p@ssw0rd
    volumes:
      - dvwa-data:/var/lib/mysql
    restart: unless-stopped

  # Buggy Web App
  bwa:
    build:
      context: .
      dockerfile: Dockerfile.bwapp
    restart: unless-stopped
    depends_on:
      - bwa-db

  bwa-db:
    image: mariadb:10
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_DATABASE=bWAPP
    volumes:
      - bwa-data:/var/lib/mysql
    restart: unless-stopped

volumes:
  dvwa-data:
  bwa-data:
